<%= render :partial => "post_update_form" %>

<br/>

<div id="wall">
  <div id="activity_page_title"><%= activity_page_title %></div>
  <table>
    <tr>
      <th></th>
      <th></th>
    </tr>

    <% @activities.each do |activity| %>
      <tr>
        <td><%= display_datetime(activity.updated_at) %> <a href="<%= url_for :controller => 'activities', :action => 'index', :user_id => activity.user.id%>"> <%=activity_user_name(activity)%></a> said </td>
        <td><span class="status"><%= activity.status %></span></td>
      </tr>
    <% end %>
  </table>
</div>
